<div class="container">
  <br>
  <h2 class="text-center bg-warn"><strong>FITTINGS</strong> </h2>
  <br>
  <div class="row">
    <div class="list-group col-md-6">
      <img src="/src/app/img/products/Fittings1.JPG" class=" bounce rounded mx-auto d-block img" alt="Fittings">
      </div>

    <div class="list-group col-md-6 myspecs ">
        <div class="card text-white bg-primary mb-3" style="margin-top: 10px;">
            <div class="card-header text-center"><strong>ANSI B16.9</strong></div>
            <div class="card-body">
              <h5 class="card-title text-center"><strong>BUTT WELDING FITTINGS</strong></h5>
              <p class="card-text text-center">LONG RADIUS ELBOWS (45o - 90o - 180o)<br>
                CONCENTRIC AND ECCENTRIC REDUCERS<br>
                EQUAL AND REDUCED TEES, CAPS<br>
                </p>
            </div>
          </div>
    </div>
  </div>


  <div class="row">
    <div class="list-group col-md-6">
      <img src="/src/app/img/products/fittings3.gif" class=" bounce rounded mx-auto d-block img" alt="Fittings">
      </div>

    <div class="list-group col-md-6 myspecs ">
      <div class="card text-white bg-success mb-3" >
        <div class="card-header text-center"><strong>ISO 3419</strong></div>
        <div class="card-body">
          <h5 class="card-title text-center"><strong>BUTT WELDING FITTINGS</strong></h5>
          <p class="card-text text-center">
            ELBOWS (3D 45o - 90o - 180o)<br>
            CONCENTRIC AND ECCENTRIC REDUCERS<br>
            EQUAL AND REDUCED TEES CAPS<br>
          </p>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="list-group col-md-6">
        <img src="/src/app/img/products/fittings2.jpg" class=" bounce rounded mx-auto d-block img" alt="Fittings">
      </div>

      <div class="list-group col-md-6 myspecs ">

        <div class="card text-white bg-danger mb-3">
          <div class="card-header text-center"><strong>FORGED STEEL FITTINGS</strong></div>
          <div class="card-body">
            <h5 class="card-title text-center"><strong>ANSI B16.11 - MSS</strong></h5>
            <p class="card-text text-center">
              SOCKET - WELDING AND THREADED<br>
              SOCKET- WELDING REDUCER INSERT MSS SP-79<br>
              STEEL PIPE UNION MSS SP-83<br>
              Socket welding and threaded<br>
              SWAGE END NIPPLES MSS SP-95<br>
              FORGED CARBON STEEL<br>
              BRANCH OUTLET FITTINGS  MSS SP-97<br>
              Socket welding, Threaded and Butt Welding Ends<br>
            </p>
          </div>
        </div>
      </div>
  </div>

</div>

<div class="offset-md-2">
  <ul class="fa-ul">
    <li class="heading">  <strong> FORGED FITTINGS & FLANGES: </strong></li>
    <li> In carbon steel, stainless steel and alloy steel. All products confirm to DIN, BIS and IS standards.</li>
    <li class="heading">  <strong> TUBES & PIPES: </strong></li>
    <li> Cold drawn seamless and S-welded pipes and tubes.</li>
    <li class="heading">  <strong> BARS: </strong></li>
    <li> Rounds, squares, hexagons, flats, angles and hollow bars.</li>
    <li class="heading">  <strong> STEEL PLATES: </strong></li>
    <li> Cold-rolled 2D, cold-rolled 2B bright, hot-rolled no.1 finish.</li>
    <li class="heading">  <strong> FITTINGS: </strong></li>
    <li> Butt weld, socket weld, high pressure - screwed, low pressure- screwed     Elbow, Tee, Bend</li>
    <li class="heading">  <strong> FLANGES: </strong></li>
    <li> Forged or plate flanges confirming to BS10 standard.</li>
    <li class="heading">  <strong> VOLVES: </strong></li>
    <li> Pulp valve, flush bottom valve, globe valve, wire mesh.</li>
  </ul>
</div>
