
<nav class="navbar navbar-dark mt-5 bg-footer fixed-bottom bg-company-red">
  <div class="navbar-expand m-auto navbar-text">
  <a  href="mailto:mectubes@vsnl.com" >  E: mectubes@vsnl.com, </a>
  <a  href="mailto:mectubes@bol.net.in" >  mectubes@bol.net.in, </a>
  <a  href="mailto:mectubes@airtelmail.in" > mectubes@airtelmail.in </a>
  </div>
  <div class="navbar-expand m-auto  navbar-text">
      <a  href="tel:012423286543" >Tel: ( 0124)-23286543 </a>
      <a  href="tel:012423286544" >/44</a>
      <a  href="tel:012423286545" >/45</a>
      <a  href="tel:+919810029297" >/98100-29297</a>
  </div>
</nav>
