<div class="mgmtPage">
<div class="feature-wrapper pt-5 pb-5 mt-5 mt-lg-0">
  <div class="container">
      <div class="row">

          <div class="pic  col-sm-12 col-md-6 text-center mb-3 mb-md-0">
            <img class=" rounded img-fluid img-thumbnail card-img-top" src="/src/app/img/mgmt1.jpg" alt="Mr. BL Mohatta" style="width:200px; height:250px;">
            <div class="overlay">Hello, How can I help you?

                <button type="button" class="btn btn-primary">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active-link"><strong>Contact Me</strong></a>
                  </button>

            </div>
          </div>




          <div class="pic col-sm-12 col-md-6 text-center mb-3 mb-md-0">
              <img class="rounded img-fluid img-thumbnail card-img-top" src="/src/app/img/mgmt2.jpg" alt="Mr. BL Mohatta" style="width:200px; height:250px;">
              <div class="overlay">Hello, How can I help you?
                  <button type="button" class="btn btn-primary">
                      <a class="nav-link" routerLink="/contact" routerLinkActive="active-link"><strong>Contact Me</strong></a>
                    </button>
               </div>
           </div>
        </div>

<div class="row">
<div class=" title col-sm-12 col-md-6 text-center  text-uppercase mb-3 mb-md-0">
    <p class="text-center font-weight-bold">Mr. BL Mohatta</p>
    <p>
        Mechanical Engineer, <strong>Founder & Managing Director</strong> of MEC Tube Pvt. Ltd., a part of MEC Corpn., and having experience of more than 35 yrs in this field.
   </p>
</div>
<div class=" title col-sm-12 col-md-6 text-center  text-uppercase mb-3 mb-md-0">
    <p class="text-center font-weight-bold">Mr. Indramani Ijral</p>
    <p>Started his career with Steel Tubes and Pipes industry & having experience in this field of more than 45 years.
      </p>
</div>
 </div>
  </div>
</div>
</div>
