<div class="container">
  <br>
  <h2 class="text-center bg-warn"><strong>Stainless Steel Pipes</strong> </h2>
  <br>
  <div class="row">
    <div class="list-group col-md-6">
        <img src="/src/app/img/products/pipe1.jpg" class=" bounce rounded mx-auto d-block img" alt="pipes">
        <img src="/src/app/img/products/pipe2.jpg" class=" bounce rounded mx-auto d-block img" alt="pipes">

    </div>
      <div class="list-group col-md-6">
      <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>Mild Steel ERW Pipes  IS-1239 / IS : 3589.  </li>
      <li><i class="fa-li fa fa-check-square"></i>Mild Steel ERW Air Heater Tubes - BS.  </li>
      <li><i class="fa-li fa fa-check-square"></i>Hot Dip Galvanised Pipes (G I Pipes)  </li>
      <li><i class="fa-li fa fa-check-square"></i>Low Temperature, Carbon Steel Seamless Tube - SA 334 Gr.1.  </li>
      <li><i class="fa-li fa fa-check-square"></i>Carbon Steel Seamless Pipes ASTM  A - 106 Gr. 'A & B' / API-5L Gr. 'B'</li>
      <li><i class="fa-li fa fa-check-square"></i>Carbon Steel Seamless Boiler Tubes & IBR-BS 3059 Gr. 360 / 440, SA / ASTM A 210 Gr. A1,    DIN- 17175 - ST35.8 / ST 45.8</li>
      <li><i class="fa-li fa fa-check-square"></i>Low Temperature Carbon Steel Seamless Pipes - SA / ASTM  A-333 Gr. 360 / 440, SA / ASTM     A- 333 Gr. 1.</li>
      <li><i class="fa-li fa fa-check-square"></i>Low Temperature Carbon Steel Seamless Tube - SA 334 Gr. 1.</li>
      <li><i class="fa-li fa fa-check-square"></i>Larger Diameter Pipes
    (Longitudinal SAW,   IS- 3589 Gr. 330 / 410, API 5L, ASTM 672 / 691)
    </li>
    <li><i class="fa-li fa fa-check-square"></i>Heat Exchanger Tubes - SA / ASTM A 179 / 192 / 214.</li>
    <li><i class="fa-li fa fa-check-square"></i>Alloy Steel Seamless Pipes - IBR-SA 335 P5, SA 335 P9, SA 335 P11, SA 335 P2.</li>
    <li><i class="fa-li fa fa-check-square"></i>Alloy Steel Seamless Pipes - SA / ASTM A 106 Gr. BSA / ASTM  A- 53, API- 5L Gr. B.</li>
    <li><i class="fa-li fa fa-check-square"></i>Mild Steel ERW / CDW  Boiler Tubes  IBR- 3059.  </li>
    <li><i class="fa-li fa fa-check-square"></i>Mild Steel Square & Rectangular Tubes 3074, ISS 4711.  </li>
    </ul>
</div>

</div>
</div>
