<div class="container">

<div>
  <p class="heading text-center">
    <strong>QUALITY IS OUR MOST PRICELESS ASSET</strong>
  </p>

  <p class="content">
      <strong>MEC TUBES (P) LTD.</strong> is one of India's leading suppliers of steel tubes, pipes, ERW, seamless pipes, SW (6-1800 m), in galvanised and black categories. <strong>The company is part of the MEC Corp, which has touched turnover of more than 1100 crores (250 Million USD)</strong>, and enjoys a network of branches throughout India.
      MEC prospers on enduring relationships based on trust and cordiality across the globe.
  </p>

  <p class="heading text-center ">
    THE CORPORATE PHILOSOPHY
  </p>

  <p class="content">
      At MEC, our objective is to create a highly skilled, flexible, adaptive and competitive organisation keeping pace with timely changes as we absorb newer technologies and processes. Our investment in continual upgradation of technologies is matched equally with our investment in enhancing the level of skill and acumen in our work force. The repertoire of talent and capability must be looked after and enriched on a regular basis, so that the upswing in the corporate image building is never impeded.
  </p>
  <p class="content">
    At MEC, we recognise the diverse and ever increasing use of steel tubes and pipes for core industries.
  </p>

  <p class="heading text-center">
    SUPERIOR LINKS FOR EXCEPTIONAL BREAKTHROUGHS
  </p>

  <p class="subheading">
      The MEC group comprises the following high-profile units :
  </p>

  <p class="subheading ">
      MEC FITTINGS PVT. LTD. :
   </p>
   <p class="content">
      Manufactuer/Merchants of all kinds of pipes & Pipes fittings. i.e, Flanges, Elbow, Short Bend, Long Bend, Butt Weld, Socket Weld, High Pressure-screwed, low pressure-screwed, Nipple etc.
  </p>
  <p class="subheading ">
    MEC SCAFFOLDING (I) PVT. LTD. : </p>
    <p class="content">
        Deals in scaffoldings that are used in construction of buildings and interior decoration. i.e., Wall Form Shuttering, Adjustable Column, Clamps, Spans, Couplers, Top Cup, Bottom Cup, Ledger Blade, Swivel Coupler, Fixed Coupler, Sleeve Coupler, Sleeve Coupler, Joint pin etc.</p>
   <p class="subheading ">
    MEC EXIM PRIVATE LIMITED :</p>
    <p class="content">
        Is engaged in the consultancy and import of raw steel export finished products.</p>
        <p class="subheading ">

    MEC SECURITIES (INDIA) PRIVATE LIMITED : </p>
    <p class="content">
        This company is focussed at trade fi purchase or sale of securities in stock markets.</p>

<p class="subheading  ">
    MEC PROJECTS (INDIA) PRIVATE LIMITED :</p>
    <p class="content">
        Deals in Turnkey & EPC Projects.</p>

<p class="subheading  ">
    GLOBAL AGENTS PRIVATE LIMITED :</p>
    <p class="content">
        They are manufacturers and indenting agent for International buyers and function as liasions for global marketplaces
</p>

<p class="heading text-center">
    The Product Profile
</p>


<p class="subheading  ">
    FORGED FITTINGS & FLANGES : </p>
    <p class="content">
        In carbon steel, stainless steel and alloy steel. All products confirm to DIN, BIS and IS standards.
        </p>
<p class="subheading">
TUBES & PIPES : </p>
<p class="content">Cold drawn seamless and S-welded pipes and tubes.</p>
<p class="subheading">BARS :</p> <p class="content">Rounds, squares, hexagons, flats, angles and hollow bars.</p>
<p class="subheading">SHEET PLATES :</p> <p class="content">Cold-rolled 2D, cold-rolled 2B bright, hot-rolled no. 1 finish.</p>
<p class="subheading">FITTINGS :</p> <p class="content">Butt weld, socket weld, high pressure- screwed, low pressure- screwed  Elbow, Tee, Bend.</p>
<p class="subheading">FLANGES :</p> <p class="content">Forged or plate flanges confirming to BS10 standard.</p>
<p class="subheading">VALVES :</p> <p class="content">Pulp valve, flush bottom valve, gate valve, globe valve, wire mesh.
</p>

<p class="heading text-center">
    <i>If your needs do not match with the above, you need to get in touch with us. We are specialized in custom-made production as well, and we have the infrastructure to deliver on time.</i>
</p>


</div>
</div><!-- container -->
