<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <p class="city">DELHI - Head Quarter</p>

      <p class="details" style=" border-bottom: 2px solid rgb(26, 62, 223);">


        2888, Bazar Sirkiwalan,<br>
        1st Floor , Hauz Qazi,<br>
        New Delhi-110006, (India)<br>
        <br>
        Tel Off:- (011) 23286543/44/45
        8384031557, 8384070422, 9312223733<br>
        Tel. Resi.:- (011) 29237491, 32489021, 41635443, 932238289, 9810029297<br>
        Email: info@mectubes.in, mectubesdelhi@gmail.com<br>
        Fax:- (011) 23287611/ 29237491<br>
        <br>
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p class="city">KOLKATA</p>
      <p class="details">
        14, Netaji Subhash Road,<br>
        IInd Floor,<br>
        Kolkata-700001, (India)<br>

        Tel.:-(033) 22311714, 22434133, 9331019205<br>
        Fax:- (033) 22311020
      </p>
    </div>

    <div class="col-md-4">
      <p class="city">JAIPUR</p>
      <p class="details">
        1, Purohit Ji ka Bag,<br>
        Near Laxmi Motor,<br>
        M.I. Road, Jaipur-302001<br>

        Tel.:- (011) 23286543/44/45, 09312238289, 09810029297<br>
        Fax:- (011) 23287611
        </p>
    </div>

    <div class="col-md-4">
      <p class="city">JALANDHAR</p>

      <p class="details">

          21-A, First Floor,<br>
          Anand Palace,<br>
          Near Bhagat Singh Chowk,<br>
          Pratap Bagh,<br>
          Jalandhar-144001(Punjab)<br>
          Tel.:- (011) 23286543/44/45, 09316911806, 09312238289<br>
          Fax:- (011) 23287611<br>
        </p>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <p class="city">GHAZIABAD</p>
      <p class="details">

      108-B/2, Prakash Indl. Estate,<br>
      Opp. Aradhana Cinema,<br>
      U.P. Border,<br>
      District Ghaziabad-20 (U.P.) India,<br>

      Tel :- (011) 23286543/44/45, 9312223733, 9312238289, 9810029297<br>
      Fax:- (011) 23287611<br>
      </p>
    </div>


    <div class="col-md-4">
      <p class="city">GURGAON</p>

      <p class="details">

          317, Radha Palace,<br>
          Gurudwara Road,<br>
          Opp. Kamla Nehru Park,<br>
          Gurgaon - 122001. (HARYANA)<br>

          Tel.:- (0124) 2333465, (011) 23286543/44/45,<br>
          9312223733, 9312238289, 9810029297<br>
          Fax: (011) 23287611<br>
        </p>
    </div>



    <div class="col-md-4">
      <p class="city">MUMBAI</p>

      <p class="details">

          104, Ashirwad Building, 1st Floor,<br>
          Ahemdabad Street,<br>
          Carnac Bunder,<br>
          Mumbai - 400009, Maharashtra. (India)<br>

          Tel:- (022) 23774405, 23781011, 9322264947, 09312238289, 09810029297<br>
          Fax:- 91-022-23730458<br>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <p class="city">BARODA</p>

        <p class="details">
            S-02, IInd Floor, Aries Complex,<br>
            Opp. Neptune Tower,<br>
            Productivity Road,<br>
            Alkapuri,<br>
            Baroda-390005.<br>

            Tel.:-(0265) 2335542,09312223733, 09810029297, 09312238289<br>
            Fax:- (0265) 2335542, (011) 23287611<br>
          </p>
      </div>

      <div class="col-md-4">
        <p class="city">BANGALORE</p>

        <p class="details">

            19, 1st Floor, 4th Cross,<br>
            K.S. Garden, Lalbagh Road,<br>
            Banaglore - 560027<br>

            Tel.:-(080) 32407430, 09312238289, 09810029297<br>
            Fax:- (011) 23287611<br>
          </p>
      </div>

      <div class="col-md-4">
        <p class="city">RAIPUR</p>

        <p class="details">

            308, Rishabh Complex,<br>
            Third Floor,<br>
            M.G. Road,<br>
            Raipur - 492001 (C.G.)<br>

            Tel.:- 09312238289, 9810029297, (011) 23286543/44/45<br>
            Fax: (011) 23287611<br>
        </p>
      </div>
  </div>

  <div class="row">
        <div class="col-md-4">
            <p class="city">CHENNAI</p>

            <p class="details">
                68 (Old 55/1),<br>
                First Floor,<br>
                Room No.3,<br>
                Sembudos Street,<br>
                Chennai - 600 001<br>

                Tel.: 044-2522 9121, 093805 15061<br>
            </p>
          </div>
  </div>
</div>

<!--
<div class="container">
    <h1>Add New Book</h1>
    <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="saveBook()" #bookForm="ngForm">
          <div class="form-group">
            <label for="name">ISBN</label>
            <input type="text" class="form-control" [(ngModel)]="isbn" name="isbn" required>
          </div>
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" [(ngModel)]="title" name="title" required>
          </div>
          <div class="form-group">
            <label for="name">Author</label>
            <input type="text" class="form-control" [(ngModel)]="author" name="author" required>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
           </div>
        </form>
      </div>
    </div>
  </div> -->
