<div class="container">
  <br>
  <h2 class="text-center bg-warn"><strong>VOLVES</strong> </h2>
  <br>
  <div class="row">
    <div class="list-group col-md-6">
      <img src="/src/app/img/products/volves1.jpg" class=" bounce rounded mx-auto d-block img" alt="Fittings">
      </div>

    <div class="list-group col-md-6 myspecs ">
      <div class="list-group col-md-6 myspecs ">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Ball Valves</li>
          <li><i class="fa-li fa fa-check-square"></i>Forged Steel Ball Valves</li>
          <li><i class="fa-li fa fa-check-square"></i>Butterfly Valves</li>
          <li><i class="fa-li fa fa-check-square"></i>Control Valves</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="list-group col-md-6">
      <img src="/src/app/img/products/volves2.jpg" class=" bounce rounded mx-auto d-block img" alt="Fittings">
      </div>

    <div class="list-group col-md-6 myspecs ">
      <div class="list-group col-md-6 myspecs ">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>"Y" Type Control Valves</li>
          <li><i class="fa-li fa fa-check-square"></i>Diaphragm Valves</li>
          <li><i class="fa-li fa fa-check-square"></i>Gate Valves</li>
          <li><i class="fa-li fa fa-check-square"></i>Globe Valves</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="list-group col-md-6">
        <img src="/src/app/img/products/volves3.jpg" class=" bounce rounded mx-auto d-block img" alt="Fittings">
      </div>

      <div class="list-group col-md-6 myspecs ">
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-check-square"></i>Non-Return / Check Valves</li>
            <li><i class="fa-li fa fa-check-square"></i>Water Check Valves</li>
            <li><i class="fa-li fa fa-check-square"></i>Safety Valves</li>
            <li><i class="fa-li fa fa-check-square"></i>Steam Traps</li>
            <li><i class="fa-li fa fa-check-square"></i>Strainers</li>
          </ul>

      </div>
  </div>

</div>
