<div class="row">
  <div class="offset-md-1 col-md-10">
    <img src="/src/app/img/new/poles.jpg" class=" bounce rounded mx-auto d-block img" alt="Fittings">
    </div>
</div>
<div class="row">
  <div class="offset-md-3 col-md-8 ">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square"></i>
          Electric tubular Swaged Poles are crafted with the best engineering skills to meet<br>
          international stabdards. We are well quipped to meet your pole requirements.</li>
        <li><i class="fa-li fa fa-check-square"></i>
          Our poles are used for street lights, overbridge lights, factory yards, Petrol pumps,<br>
          garden flood lights, City beautification with poles and innumerable other uses.
        </li>
        <li><i class="fa-li fa fa-check-square"></i>
          Our experience speaks for you that these iron poles are far more stronger, stable and <br>
          longer-lasting than the cement poles.
        </li>
          <li><i class="fa-li fa fa-check-square"></i>
           Our poles are eye catching and are bound to appeal to your aesthetic sense.
          <br> We want you to have the best. And we can give you the best.
          <br><br>
          <div>
          <strong class="notice">Do give us a chance to serve you.</strong>
        </div>
      </li>
        </ul>
    </div>
  </div>
