<div class="container">
    <br>
    <h2 class="text-center bg-warn"><strong>Stainless Steel Pipes</strong> </h2>
    <br>
    <div class="row">
      <div class="col-md-4">
          <img src="/src/app/img/products/flanges1.jpg" class=" bounce rounded mx-auto d-block img" alt="pipes">
        </div>

        <div class="col-md-4">
            <img src="/src/app/img/products/flanges2.jpg" class=" bounce rounded mx-auto d-block img" alt="pipes">
       </div>
       <div class="col-md-4">
          <img src="/src/app/img/products/flanges3.jpeg" class=" bounce rounded mx-auto d-block img" alt="pipes">
       </div>
      </div>

      <br>
      <br>

      <div class="row">
          <div class="col-md-4">
              <ul class="fa-ul">
                <li class="text-center heading"><i></i><strong><u>UNI FLANGES</u></strong></li>
                <li  class="text-center subheading"><i></i><strong>PLANE FLANGES</strong></li>
                <li  class="text-center"><i></i>( Normally Flat Face supplied)                </li>
                <li><i class="fa-li fa fa-check-square"></i>UNI 2276-67 PN 6 DN 10 - DN 1000</li>
                <li><i class="fa-li fa fa-check-square"></i>UNI 2277-67 PN 10 DN 10 - DN 600                </li>
                <li><i class="fa-li fa fa-check-square"></i>UNI 2278-67 PN 16 DN 10 - DN 400               </li>
                <li><i class="fa-li fa fa-check-square"></i>UNI 6083-67 PN 25 DN 10 - DN 400                </li>
                <li><i class="fa-li fa fa-check-square"></i>UNI 6084-67 PN 40 DN 10 - DN 400


                  <li  class="text-center subheading"><i></i><strong>WELDING NECK FLANGES                    </strong></li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2280-67 PN 6 DN 10 - DN 2000</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2281-67 PN 10 DN 10 - DN 2000</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2282-67 PN 16 DN 10 - DN 2000</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2283-67 PN 25 DN 10 - DN 1000</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2284-67 PN 40 DN 10 - DN 500</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2285-67 PN 64 DN 10 - DN 400</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2286-67 PN 100 DN 10 - DN 350</li>


                  <li  class="text-center subheading"><i></i><strong>LAPPED FLANGES</strong></li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 6088-67 PN 6 DN 25- DN 1000</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 6089-67 PN 10 DN 25- DN 800</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 6090-67 PN 16 DN 25- DN 500</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2299-67 PN 25 DN 25- DN 500</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2300-67 PN 40 DN 25- DN 400</li>

                  <li  class="text-center  subheading"><i></i><strong>BLIND FLANGES</strong></li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 6091-67 PN 6 DN 10 - DN 500</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 6092-67 PN 10 DN 10 - DN 500</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 6093-67 PN 16 DN 10 - DN 500</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 6094-67 PN 25 DN 10 - DN 500</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 6095-67 PN 40 DN 10 - DN 500</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 6096-67 PN 64 DN 10 - DN 400</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 6097-67 PN 100 DN 10 - DN 350</li>

                  <li  class="text-center subheading"><i></i><strong>THREADED FLANGES</strong></li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2253-67 PN 6 DN 10 - DN 150</li>
                  <li><i class="fa-li fa fa-check-square"></i>UNI 2254-67 PN 16 DN 10 - DN 150</li>
                  <li><i class="fa-li fa fa-check-square"></i>FLANGES TOLERANCE ACCORDING TO UNI 6100</li>

              </ul>
          </div>

          <div class="col-md-4">
              <ul class="fa-ul">
                  <li class="text-center heading"><i></i><strong><u>ANSI B16.5 FLANGES       </u></strong></li>
                  <li  class="text-center subheading"><i></i><strong>WELDING NECK FLANGES                    </strong></li>
                  <li  class="text-center"><i></i>(Lbs: 150, 300, 400, 600, 900, 1500, 2500)</li>
                  <!-- <li><i class="fa-li fa fa-check-square"></i>UNI 2276-67 PN 6 DN 10 - DN 1000</li> -->
                  <li  class="text-center subheading"><i></i><strong>SLIP ON FLANGES                    </strong></li>
                  <li  class="text-center"><i></i>(Lbs: 150, 300, 400, 600, 900, 1500)                  </li>
                  <li  class="text-center subheading"><i></i><strong>BLIND FLANGES</strong></li>
                  <li  class="text-center"><i></i>(Lbs: 150, 300, 400, 600, 900, 1500, 2500)</li>
                  <li  class="text-center subheading"><i></i><strong>LAP JOINT FLANGES </strong></li>
                  <li  class="text-center"><i></i>(Lbs: 150, 300)                  </li>
                  <li  class="text-center subheading"><i></i><strong>THREADED FLANGES</strong></li>
                  <li  class="text-center"><i></i>(Lbs: 150, 300) </li>
                  <li  class="text-center subheading"><i></i><strong>SOCKET-WELDING FLANGES                    </strong></li>
                  <li  class="text-center"><i></i>(Lbs: 150, 300, 600, 1500)</li>

              </ul>
          </div>


          <div class="col-md-4">
              <ul class="fa-ul">
                  <li class="text-center heading"><i></i><strong><u>DIN FLANGES</u></strong></li>
                  <li  class="text-center subheading"><i></i><strong>PLANE FLANGES</strong></li>
                  <li  class="text-center"><i></i>( Normally supplied Type B )</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2573,  PN 6,   DN 10 - DN 500</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2576,  PN 10, DN 10 - DN 500</li>

                  <li  class="text-center subheading"><i></i><strong>WELDING NECK FLANGES                    </strong></li>
                  <li  class="text-center"><i></i>( Normally supplied Type C )</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2631 PN 6 DN 10 - DN 3600</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2632 PN 10 DN 10 - DN 3000</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2633 PN 16 DN 10 - DN 2000</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2634 PN 25 DN 10 - DN 1000</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2635 PN 40 DN 10 - DN 500</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2636 PN 64 DN 10 - DN 400</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2637 PN 100 DN 10 - DN 350</li>

                  <li  class="text-center subheading"><i></i><strong>LAPPED FLANGES</strong></li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2641 PN 6   DN 10 - DN 1000</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2642 PN 10 DN 10 - DN 800</li>



                  <li  class="text-center subheading"><i></i><strong>BLIND FLANGES</strong></li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2527 PN 6 DN 10 - DN 800</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2527 PN 10 DN 10 - DN 800</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2527 PN 16 DN 10 - DN 800</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2527 PN 25 DN 10 - DN 800</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2527 PN 40 DN 10 - DN 500</li>


                  <li  class="text-center subheading"><i></i><strong>THREADED FLANGES</strong></li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2565 PN 6 DN 10 - DN 150</li>
                  <li><i class="fa-li fa fa-check-square"></i>DIN 2566 PN 10/16 DN 10 - DN 150</li>
                  <li><i class="fa-li fa fa-check-square"></i>FLANGES TOLERANCE ACCORDING TO DIN 2519 / DIN 2500</li>
              </ul>
          </div>


  </div>
  </div>
