<div class="container">
  <br>
  <h2 class="text-center bg-warn"><strong>Steels & Bars</strong> </h2>
  <br>
  <div class="row">
    <div class="list-group col-md-6">
    <a  class="list-group-item list-group-item-action list-group-item-success">M.S. CHANNELS</a>
    <a  class="list-group-item list-group-item-action  ">M.S. RAILS</a>
    <a  class="list-group-item list-group-item-action list-group-item-success">R.S. BEAMS</a>
    <a  class="list-group-item list-group-item-action  ">M.S. FLATS</a>
    <a  class="list-group-item list-group-item-action list-group-item-success">CHEQUERED PLATES</a>
    <a  class="list-group-item list-group-item-action  ">M.S. EQUAL ANGLES</a>
    <a  class="list-group-item list-group-item-action list-group-item-success">M.S. SQUARES/ROUND & RIBBED TOR STEEL</a>
    </div>

    <div class="list-group col-md-6 myspecs ">
        <div class="card text-white bg-primary mb-3" style="margin-top: 10px;">
            <div class="card-header text-center"><strong>Specifications</strong></div>
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Material :-</strong></h5>
              <p class="card-text text-center">Copper, Carbon Steel, Stainless Steel & Brass
                </p>
            </div>
          </div>
          <div class="card text-white bg-success mb-3" >
            <div class="card-header text-center"><strong>Specifications</strong></div>
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Size :-</strong></h5>
              <p class="card-text text-center"> 1/8" to 12"</p>
            </div>
          </div>
          <div class="card text-white bg-danger mb-3">
            <div class="card-header text-center"><strong>Specifications</strong></div>
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Type :-</strong></h5>
              <p class="card-text text-center">Hex, Square, Circular & Rectangles</p>
            </div>
          </div>

  </div>
</div>
