<!-- <div class="container slider">
  <div class="row">
    <div class="col-md-10 offset-md-1">

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/src/app/img/new/fasteners2.jpg" alt="Los Angeles">
      <div class="carousel-caption">
        <p class="guarantee">Guarantee Of Quality</p>
        <button [routerLink]="['/products']" routerLinkActive="router-link-active"  class="btn-primary"> Our Products</button>
        &nbsp; &nbsp;
        <button [routerLink]="['/contact']" routerLinkActive="router-link-active"  class="btn-primary">Contact Us</button>

      </div>
    </div>

    <div class="carousel-item">
      <img src="/src/app/img/new/fittings.jpg" alt="Chicago">
      <div class="carousel-caption">
        <p>Guarantee Of Quality</p>
        <button [routerLink]="['/products']" routerLinkActive="router-link-active"  class="btn-primary"> Our Products</button>
        &nbsp; &nbsp;
        <button [routerLink]="['/contact']" routerLinkActive="router-link-active"  class="btn-primary">Contact Us</button>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/src/app/img/new/poles.jpg" alt="New York">
      <div class="carousel-caption">
        <p>Guarantee Of Quality</p>
        <button [routerLink]="['/products']" routerLinkActive="router-link-active"  class="btn-primary"> Our Products</button>
        &nbsp; &nbsp;
        <button [routerLink]="['/contact']" routerLinkActive="router-link-active"  class="btn-primary">Contact Us</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div> -->


<!-- --------Product Listing-------------- -->
<div class="container">
  <div class="row">
<!-- a new card  -->
  <div *ngFor="let product of products" class="col-lg-4 col-md-3 col-xs-6">
    <div class="card bg-info text-white">
      <div class="card-body img">
          <a routerLink="/products/{{product.name}}" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail card-img-top" src="/src/app/img/new/{{product.img}}" alt="">
          </a>
        <div class="card-body text-center">
          <p class="card-text"> {{product.description | uppercase}}</p>
      </div>
     </div>
     <div class="overlay"> High Quality Products Gauranteed&nbsp;&nbsp;

        <a routerLink="/products/{{product.name}}" class="d-block mb-4 h-100">
            <button type="button" class="btn btn-warn">
            <strong>Product Details</strong>
          </button></a>

      </div>


    </div>
  </div>



  <div id="offices" class="container">
   <div class="row">
    <div *ngFor="let city of cities" class="col-lg-2 col-md-2 col-xs-6">
      <a routerLink="/contact">
        <img src="/src/app/img/city/{{city.img}}" class="rounded mx-auto d-block" alt="...">
        <p class="item-name">{{city.place}}</p>
      </a>
    </div>
   </div>
  </div>
  <!-- <div class=" col-md-12 col-xs-6">
   <a href="#" class="d-block mb-4 h-100">
    <img class="img-fluid img-thumbnail" src="/src/app/img/new/steels2.jpg" alt="">
   </a>
  </div> -->

<!-- a new card ended -->

  </div>
</div>
