

/* .carousel-inner .carousel-caption {
  color: rgb(236, 27, 62);
  /* background: rgb(196, 191, 191);
} */

/* .carousel-inner img {
  width: 65%;
  height: 300px;
  margin-top: 5%;
  margin-right: 0px;
  float: right;
  color: red;

} */

.overlay button {
  margin-top: 5%;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  transition: .5s ease-in-out;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: 10%;
}


.card:hover img{
  opacity: 0.2;
  border: 1px solid white;
}

.card:hover .overlay {
  opacity: 1;
 }


#offices {
  border: 2px solid rgb(134, 87, 172);
  padding-bottom: 20px;
  margin-top: 7%;
}

p, .item-name{
  padding: 0;
  margin: 0;
  text-align: center;
}

.container .row div {
  padding: 0;
  margin: 0;
}

/* body{
} */

.container .row .col-lg-4 {
  display: flex;
  border: 1px solid white;
  align-items: stretch;
  /* background: rgb(11, 235, 78); */
  margin: 0;
  margin-bottom: 15px;
}

.container .row .col-lg-4 .card{
  padding: 0;
  margin: 0;
}

.container .row .col-lg-2 img {
  display: flex;
  width: 150px;
  height: 150px;
  padding: 20px;
}

.container .row .col-lg-4 .card .card-body img {
  display: flex;
  width: 550px;
  height: 400px;
  padding: 0;
  margin: 0;
}
/*  */
/*
@media (min-width: 992px) {
   body {
    padding-top: 56px;
  }
} */
